*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;

}

body{
    font-family:  Helvetica , Arial, sans-serif;

}

h1,h2 {
    color: rgb(255, 213, 220);
    background: rgba(0, 128, 128, 0.808);
    
}
 h1 {
    font-size: 40px;
    margin-bottom: 30px;
 }

 h2{
     font-size: 25px;
     margin-bottom: 15px;
     margin-top: 30px;
 }
 
 .main-text {
     text-align: justify;
  
 }

 .author-text{
     font-size: 22px;
     float: left;
     margin-top: 80px;
     margin-left: 20px;
     
 }
 .container{
    width: 1140px;
   margin: 20px auto 0 auto;
 }
 .blog-post{
     width: 75%;
     float: left;
     padding-right: 30px;
     position: relative;
 }
 .blog-post img{
     margin-top: 30px;
     
 }
 .other-post{
     width: 25%;
     float: left;
 }
 .other{
     margin-bottom: 40px;
 }
 .author-box{
    border-top: 1px solid rgb(94, 94, 94);
    padding-top: 20px;
    padding-bottom: 30px;

 }
 .author-box img{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     float:left;
     
 }
.date{
    position: absolute;
    top: 53px;
    right: 30px;

}

 