*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   
    color:  white;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*################################################*/
/*-------------REUSABLE COMPONENTS----------------*/
/*################################################*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*---------HEADINGS----------*/

h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 5px;
}


/*---------BUTTONS----------*/

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 200px;
    border: 3px solid #C22A27;
    transition: background-color 0.4s, border 0.4s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #C22A27;
    
}
.btn-ghost:link,
.btn-ghost:visited{
    margin-left: 10px;
    
}
.btn:hover,
.btn:active{
    background-color: rgb(163, 33, 31);
    border: 3px solid rgb(163, 33, 31);    
}

/*################################################*/
/*-------------------HEADER-----------------------*/
/*################################################*/

header{
    background-image:linear-gradient(#0000001c, #000000c7), url(./img/anton-shuvalov-WFIoD6zWn98-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    margin-right: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active{
    
    border-bottom: 2px solid rgb(163, 33, 31);
    transition: border-bottom 0.4s;
    
}
.banner{
    background-color: white;
}
.seaction-feature{
    color: black;
    padding: 20px 0px;
   
}
.seaction-feature img{
    width: 30%;
    
}
.seaction-feature h2{
    text-transform: uppercase;
    padding: 20px 13px;
}
.seaction-feature div{
    padding: 20px 0px;
}
.seaction-feature div h3{
    padding: 10px 10px;
    
}
.seaction-feature div p{
    text-align: justify;
    padding: 0px 15px;
}