*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   
    color:  white;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clear-fix{zoom: 1;}
.clear-fix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*################################################*/
/*-------------REUSABLE COMPONENTS----------------*/
/*################################################*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}
.box{
    margin: 5% 0%;
}
section{
    color: black;
    padding: 20px 0px;
   
}

/*---------HEADINGS----------*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 250%;
    word-spacing: 5px;
    letter-spacing: 5px;
}

h2{
    font-weight: 400;
    font-size: 180%;
    text-align: center;
    margin: 20px 0px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
h3{
    font-size: 110%;
    margin: 10px 10px;
    text-align: center;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #C22A27;
    content: " ";
    width: 650px;
    margin:30px auto;
}

/*---------PARAGRAPHS----------*/

.box p{
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
    margin: 0px 15px;
}
.long-copy{
    line-height: 145%;
    font-size: 110%;
    width: 70%;
    margin-left: 15%;

}

/*---------ICONS----------*/

.icon-big{
    width: 30%;
    margin: 20px 95px;
    
    
     
}

/*---------BUTTONS----------*/

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 200px;
    border: 3px solid #C22A27;
    transition: background-color 0.4s, border 0.4s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #C22A27;
    
}
.btn-ghost:link,
.btn-ghost:visited{
    margin-left: 10px;
    
}
.btn:hover,
.btn:active{
    background-color: rgb(163, 33, 31);
    border: 3px solid rgb(163, 33, 31);    
}

/*################################################*/
/*-------------------HEADER-----------------------*/
/*################################################*/

header{
    background-image:linear-gradient(#0000001c, #000000c7), url(./img/anton-shuvalov-WFIoD6zWn98-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    margin-right: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active{
    
    border-bottom: 2px solid rgb(163, 33, 31);
    transition: border-bottom 0.4s;
    
}

/*################################################*/
/*-------------------PHOTOS-----------------------*/
/*################################################*/

.photo-showcase{
    list-style: none;
    width: 100%;
}
.photo-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}
.photo img{
    opacity: 0.7;
    width: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    
}
.photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

.photo-cities{
    width: 100%;
    
     
}

/*################################################*/
/*-----------------HOW IT WORKS-------------------*/
/*################################################*/
.section-steps{
    background-color: rgb(243, 243, 243);
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 50%;
}
.work-steps div{
    color: #C22A27;
    font-weight: 400;
    border: 2px solid #C22A27;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
   
}
.work-steps p{
    margin-bottom: 40px;
}
.work-steps:last-of-type{
    margin-bottom: 80px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}